<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="DsLinePackages" value="https://nuget.pkg.github.com/DsLine-Microservices/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <DsLinePackages>
            <add key="Username" value="frabriziocontin" />
     	    <add key="ClearTextPassword" value="a1bea954745969c9ae8554c15da8b48b9456dda2" />
        </DsLinePackages>
    </packageSourceCredentials>
</configuration>