<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="DsLinePackages" value="https://nuget.pkg.github.com/DsLine-Microservices/index.json" />
        <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <DsLinePackages>
            <add key="Username" value="frabriziocontin" />
     	    <add key="ClearTextPassword" value="b6a123f5cbf6a7dc6ddd702fa94fa02da1dc9a7e" />
        </DsLinePackages>
    </packageSourceCredentials>
</configuration>